body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* my added css */
*  {
  background: #ffd6e0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-size: 18px;
  color: #d88c9a;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  margin: auto 30px; 
  padding: 10px;
  color: #660033;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#myImage {
  margin: auto 70px;
}

#about-container {
  padding: 100px;
  margin: 0px 100px;
}

.welcome, .key-title, .resume, .name, .title, .contact {
  font-weight: bold;
  color: #660033;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
  background-color: white;
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 50%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}
.card > .img-container > img {
  width: 100%;
  padding: 25px;
  background-color: white;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 18px;
  background-color: white;
  color: #d88c9a;
  font-weight: bold;
}

.card > .content > ul {
  list-style-type: none;
  background-color: white;
}

.card > .content > ul > li {
  margin-top: 18px;
  background-color: white;
}

.wrapper {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

#footer {
  margin: auto 700px;
  padding: 5px;
}

.icon {
  padding: 10px;
}

.nav {
  justify-content: flex-end;
  font-size: 24px;
}

#port-icon {
  background-color: white;
  margin: 0px 20px;
}

.project-title {
  background-color: white;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.key {
  margin: 50px 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.github-link {
  text-align: center;
  font-size: 18px;
  color: #d88c9a;
  font-weight: bold;
}

#contact-form {
  margin: 15px 500px;
  font-size: 18px;
  color: #d88c9a;
  font-weight: bold;
}

.resume-container, .resume-intro {
  justify-content: center;
  margin: 50px;
  font-size: 18px;
  color: #d88c9a;
  font-weight: bold;
}

.nav-link, .link, .btn {
  color: #660033;
  font-weight: bold;
}

.nav-link:hover, .link:hover {
  color: #d88c9a;
  font-weight: bold;
  text-decoration: none;
}

.active {
  color: #d88c9a;
}

.banner {
  width: 100%;
}
